---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "tags/{{ tag }}/index.html"
---

<div class="container-fluid">
	<div class="row mt-3">
		<h4>Tag: {{ tag }}</h4>		
	</div>
  <div class="row mt-3">
  	{% set postslist = collections[tag] %}
  	{% include "postlist.njk" %}
  </div>
</div>
